<div class="row">
  <div id="about">
    <div class="container">
      <div class="section-title text-center center">
        <h2>Human Resource</h2>
        <hr>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 text-center"><img
          src="../../assets/img/Priya-April-2019-MWC-SIP-MOM-press-release-iStock.jpg" class="img-responsive" alt="">
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="about-text">
            <h3>Quality Management & Timely Execution:</h3>
            <p>
              Mann Corporation is committed to the total satisfaction of its customers by providing time
              bound,
              technologically superior and cost effective construction services.</p>
            <p>

              Our quest for excellence is achieved through continuous quality improvement through regular training and a
              vibrant
              working environment to our dedicated team.
            </p>
            <p>
              The reputation of the company has been built on the quality of work which is always of high standard and
              never
              sacrificed on any account.The organization is well established and known for its ability to execute work
              speedily and
              with in the stipulated period.Work has often been carried out in conjunction with reputed firms of
              Architects,
              Consulting Engineers and various Govt.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 text-center"><img src="../../assets/img/shutterstock_96602209-1-585x390.jpg"
                                                         class="img-responsive" alt=""></div>
        <div class="col-xs-12 col-md-6">
          <div class="about-text">
            <h3>Safety & Health policy:</h3>
            <p>
              We are committed to provide complete safety to our men, material and machines.We provide fool-proof
              precautionary
              measures at all work places and equip them with required safety inputs.Our objective is to enhance the
              value of Human
              being /Machines/Materials by creating an accident free working environment.
            </p>
            <p>
              Mann Corporation gives an integral priority to the health and safety of our people. We
              conduct and
              supervise our work incompliance with the legislation and make sure that all personnel are equipped with
              best knowledge
              about safety at work and the irresponsibilities.
            </p>
            <p>
              We therefore recognize and adhere that Health, Safety and Environment Policy in our company rank equally
              in importance
              with other management responsibilities and the success in these areas depends on the involvement and
              commitment of
              everyone in the organization. As such, that we can confirm that these policies are very well conveyed to
              our suppliers
              and partners.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
