<div class="row">
  <div id="about">
    <div class="container">
      <div class="section-title text-center center">
        <h2>Career</h2>
        <hr>
      </div>
      <div class="row">
        <div class="about-text">
          <p>Mann Corporation welcomes achievers and visionaries in every field to be part of this prestigious
            organization. Engaging the best minds in the business, nurturing them with care in a professional
            environment and bringing out the best in them is our continuous endeavor.

            We offer the right career opportunities that could make a difference in your professional life. But your
            aspirations, values, attitudes, and mindset can propel you forward. We are a young organization looking for
            people who are enthusiastic with an energy field that charges up everyone around them; we respect
            professionals who can stand by their convictions, are courageous enough to accept their mistakes and learn
            from them.</p>
        </div>
      </div>


      <button class="btn btn-lg btn-outline-primary" (click)="open()">Apply For Position</button>

      <!--<div class="backdrop" [ngStyle]="{'display':viewDisplay}"></div>
      <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':viewDisplay}">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4>Aplly For</h4>
              <button type="button" class="close" (click)="closeView()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

&lt;!&ndash;                <div class="row">&ndash;&gt;
                  <form name="sentMessage" id="careerForm" novalidate>
                    <div class="row">
                      <div class="col-md-3">
                        <label>Name</label>
                      </div>
                      <div class="col-md-9">
                        <input type="text" id="name" class="form-control" placeholder="Name" required>
                        <p class="help-block text-danger"></p>
                      </div>
                    </div>
                    <div class="row">
&lt;!&ndash;                      <div class="col-md-6">&ndash;&gt;
                        <div class="form-group">

                        </div>
&lt;!&ndash;                      </div>&ndash;&gt;
&lt;!&ndash;                      <div class="col-md-6">&ndash;&gt;
                        <div class="form-group">
                          <input type="email" id="email" class="form-control" placeholder="Email" required>
                          <p class="help-block text-danger"></p>
                        </div>
&lt;!&ndash;                      </div>&ndash;&gt;
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="date" id="dob" class="form-control" placeholder="Date of birth" required>
                          <p class="help-block text-danger"></p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                <textarea id="address1" class="form-control" rows="4" placeholder="Address 1"
                          required></textarea>
                          <p class="help-block text-danger"></p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" id="city" class="form-control" placeholder="City" required>
                          <p class="help-block text-danger"></p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" id="mobileno" class="form-control" placeholder="Mobile No" required>
                          <p class="help-block text-danger"></p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                <textarea type="text" id="appliedfor" class="form-control" rows="4" placeholder="Applied For"
                          required></textarea>
                          <p class="help-block text-danger"></p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input hidden type="file" #uploader (change)="uploadFile($event)" required/>
                          <p class="help-block text-danger"></p>
                        </div>
                      </div>
                    </div>
                    <div id="success"></div>
                    <button type="submit" class="btn btn-custom btn-lg">Submit</button>
                  </form>
&lt;!&ndash;                </div>&ndash;&gt;

            </div>
          </div>
        </div>
      </div>-->
      <div class="backdrop" [ngStyle]="{'display':display}"></div>
      <div class="modal" [ngStyle]="{'display':display}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" aria-label="Close" (click)="closeView()"><span
                aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Submit your proposal</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" #f="ngForm">

                <div class="row">
                  <div class="col-md-3">
                    <label>Name</label>
                  </div>
                  <div class="col-md-9">
                    <input type="text" placeholder="Name" class="form-control" name="name"
                           [(ngModel)]="userDetails.name" #name="ngModel" required
                           [ngClass]="{ 'is-invalid': (name.touched || name.dirty) && name.invalid}">
                    <div *ngIf="(name.touched || name.dirty) && name.invalid"
                         class="invalid-feedback">
                      <div *ngIf="name.errors.required">Name is required.</div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <label>Birth Date</label>
                  </div>
                  <div class="col-md-9">
                    <input type="date" class="form-control" name="dob" [ngModel]="userDetails.dob | date:'yyyy-MM-dd'"
                           (ngModelChange)="userDetails.dob=$event" #dob="ngModel" required
                           [ngClass]="{ 'is-invalid': (dob.touched || dob.dirty) && dob.invalid}">
                    <div *ngIf="(dob.touched || dob.dirty) && dob.invalid"
                         class="invalid-feedback">
                      <div *ngIf="dob.errors.required">Select Date of Birth.</div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <label>Address</label>
                  </div>
                  <div class="col-md-9">
                    <input type="text" placeholder="Address" class="form-control" name="add"
                           [(ngModel)]="userDetails.address" #address="ngModel" required
                           [ngClass]="{ 'is-invalid': (address.touched || address.dirty) && address.invalid}">
                    <div *ngIf="(address.touched || address.dirty) && address.invalid"
                         class="invalid-feedback">
                      <div *ngIf="address.errors.required">Address is required.</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>City</label>
                  </div>
                  <div class="col-md-9">
                    <input type="text" placeholder="City" class="form-control" name="city"
                           [(ngModel)]="userDetails.city" #city="ngModel" required
                           [ngClass]="{ 'is-invalid': (city.touched || city.dirty) && city.invalid}">
                    <div *ngIf="(city.touched || city.dirty) && city.invalid"
                         class="invalid-feedback">
                      <div *ngIf="city.errors.required">City is required.</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>Email</label>
                  </div>
                  <div class="col-md-9">
                    <input type="email" placeholder="Email" class="form-control" name="email"
                           [(ngModel)]="userDetails.email" #email="ngModel" required
                           [ngClass]="{ 'is-invalid': (email.touched || email.dirty) && email.invalid}">
                    <div *ngIf="(email.touched || email.dirty) && email.invalid"
                         class="invalid-feedback">
                      <div *ngIf="email.errors.required">Email is required.</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>Mobile number</label>
                  </div>
                  <div class="col-md-9">
                      <input type="tel" class="form-control" placeholder="Mobile number" name="phno" required [(ngModel)]="userDetails.phoneNo" #phoneNo="ngModel"
                             [ngClass]="{ 'is-invalid': (phoneNo.touched || phoneNo.dirty) && phoneNo.invalid}">
                    <div *ngIf="(phoneNo.touched || phoneNo.dirty) && phoneNo.invalid"
                         class="invalid-feedback">
                      <div *ngIf="phoneNo.errors.required">Mobile number is required.</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>Upload File</label>
                  </div>
                  <div class="col-md-9">
                    <input hidden  class="form-control" type="file" #uploader accept="application/pdf" (change)="uploadFile($event)"
                           required/>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="closeView()">Close</button>
              <button type="button" class="btn btn-primary" (click)="save()"  [disabled]="!f.form.valid">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
