<app-navbar></app-navbar>
<router-outlet>
    <ngx-spinner
      bdOpacity = 0.4
      bdColor = "rgba(51,51,51,0.68)"
      size = "medium"
      color = "#20c997"
      type = "square-jelly-box"
      [fullScreen] = "true"
    >
      <p style="color: white" > Sending... </p>
    </ngx-spinner>
  </router-outlet>  
<app-footer></app-footer>
