<div class="row">
    <div id="about">
        <div class="container">
          <div class="section-title text-center center">
            <h2>Our Story</h2>
            <hr>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-6 text-center"> <img src="assets/img/about.jpg" class="img-responsive" alt=""> </div>
            <div class="col-xs-12 col-md-6">
              <div class="about-text">
                <h3>About Us</h3>
                <p>Mann Corporation Due to its commitment towards time bound quality and execution projects, has earned a premier brand reputation in various infrastructure departments of Government of Gujarat. As a result thereof, the business has spread over many surrounding states of Gujarat and more than 50 prestigious infrastructure projects are under execution.


                  Mann Corporation has fully dedicated in-house teams of experienced engineers, technicians and professional to take care of each and every aspects of multiple infrastructure projects from incubation till completion that too within stipulated time frame.
                  
                  With this continued hard-work and commitment Mann Corporation will soon immerge as one of the most leading infra-players in India.</p>
                <h3>Our Work</h3>
                <p>We will be attempting to construct the building in a given time frame which, when succeeded, will make this project a record holder and will place it on the national level.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
