<div class="row">
  <div id="portfolio">
    <div class="section-title text-center center">
      <h2>Projects</h2>
      <hr>
      <!--      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>-->
    </div>
    <section class="timeline">
      <div class="container">
        <div class="row">
          <div class="timeline-item">
            <div class="timeline-img"></div>

            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header-happy">
                <h2>Happy Excelencia</h2>
              </div>
              <div class="date">2 December 2019</div>
              <p>Project is Happy Home Group.

                Happy excelencia is the ultra luxurious project in Surat.

                Happy Excelencia is the exact place where you can find luxury and peace.</p>
              <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>
          </div>

          <div class="timeline-item">

            <div class="timeline-img"></div>

            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <h2>Raghuvir Shell</h2>
              </div>
              <div class="date">17 December 2019</div>
              <p>Project of Raghuvir Builders and Developers.

                This is a project is most luxurious project in Surat.

                This project awarded by 'Gujarat best iconic structure.</p>
              <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>

          </div>

          <div class="timeline-item">

            <div class="timeline-img"></div>

            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header-celeum">
                <h2>Raghuvir celeum</h2>
              </div>
              <div class="date">17 December 2019</div>
              <p>Project of Raghuvir Builders and Developers.
                at, Kadodra road Surat
              </p>
              <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>

          </div>

          <div class="timeline-item">

            <div class="timeline-img"></div>

            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header-mall">
                <h2>raghuvir Textile mall</h2>
              </div>
              <div class="date">17 December 2019</div>
              <p>Project of Raghuvir Builders and Developers.
                at, Imata road, Surat
              </p>
              <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>

          </div>

          <div class="timeline-item">

            <div class="timeline-img"></div>

            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header-atmosphere">
                <h2>The Atmosphere</h2>
              </div>
              <div class="date">17 December 2019</div>
              <p>Project of Shidhhivinayak Group
                at, Vesu, Surat
                </p>
              <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>

          </div>

          <div class="timeline-item">

            <div class="timeline-img"></div>

            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header-luxuria">
                <h2>Happy Luxuria Business Hub</h2>
              </div>
              <div class="date">17 December 2019</div>
              <p>Project of Happy Home Group
                at, Dumas road, Surat.
              </p>
              <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>

          </div>

          <div class="timeline-item">

            <div class="timeline-img"></div>

            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header-goldmine">
                <h2>Happy Goldmine</h2>
              </div>
              <div class="date">17 December 2019</div>
              <p>Project of Happy Home Group
                at, Vesu,Surat
              </p>
              <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>

          </div>

        </div>
      </div>
    </section>

  </div>
</div>
