<!--

<div id="footer">
  <div class="container">
    <div class="social pull-left">
      <ul>
        <li><a href="https://www.facebook.com/pages/category/Construction-Company/Mann-Corporation-1994491660791572/" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
      </ul>
    </div>
    <div class="pull-right">
      <p>&copy; {{test | date: 'yyyy'}} Mann  Corporation. All rights reserved.</p>
    </div>
  </div>
</div>
-->

<div class="footer-bottom">

  <div class="container">

    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <div class="copyright">

          <p>&copy; {{test | date: 'yyyy'}} Mann  Corporation. All rights reserved.</p>

        </div>

      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <div class="design">

          Help us to understand your needs better | <a href="https://www.facebook.com/pages/category/Construction-Company/Mann-Corporation-1994491660791572/" target="_blank"><i class="fa fa-facebook"></i></a> 
          <!-- |  <a href="#"><i class="fa fa-twitter"></i></a> | <a href="#"><i class="fa fa-google-plus"></i></a> -->
          
        </div>

      </div>

    </div>

  </div>

</div>
