<div class="row">
  <div id="contact">
    <div class="container">
      <div class="section-title text-center">
        <h2>Contact Us</h2>
        <hr>
        <p>You can contact and mail us your query here.</p>
        <p>(please call us or email us between 9:00 am to 6:00 pm)</p>
      </div>
      <div class="col-md-4">
        <h3>Contact Info</h3>
        <div class="contact-item"> <span>Address</span>
          <p> 003, Mann Corporation,<br>
            Apple square, near Dabholi char rasta, Ved road, Surat</p>
        </div>
        <div class="contact-item"> <span>Email</span>
          <p>Info@manncorporation.in</p>
        </div>
        <div class="contact-item"> <span>Phone</span>
          <p > <a href="tel:+91992533447" style="color: #9e9792">+91 992 513 3447</a> </p>
        </div>
      </div>
      <div class="col-md-8">
        <h3>Leave us a message</h3>
        <form name="form" #l="ngForm" (ngSubmit)="l.form.valid && onClick()">
          <div class="row form-group">
            <div class="col-md-6 mb-3 mb-md-0">
              <label class="text-black">First Name</label>
              <input type="text" name="fname" [(ngModel)]="userData.firstName" required class="form-control"
                     placeholder="First Name" #firstName="ngModel" [ngClass]="{ 'is-invalid': l.submitted && firstName.invalid }" >
              <div *ngIf="l.submitted && firstName.invalid" class="invalid-feedback">
                <div *ngIf="firstName.errors.required">First Name is required</div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="text-black">Last Name</label>
              <input type="text" name="lname" [(ngModel)]="userData.lastName" required class="form-control" placeholder="Last Name"
                     #lname="ngModel" [ngClass]="{ 'is-invalid': l.submitted && lname.invalid }">
              <div *ngIf="l.submitted && lname.invalid" class="invalid-feedback">
                <div *ngIf="lname.errors.required">Last Name is required</div>
              </div>
            </div>
          </div>

          <div class="row form-group">

            <div class="col-md-12">
              <label class="text-black">Email</label>
              <input type="email" name="email" [(ngModel)]="userData.email" class="form-control" placeholder="Your Email"
                     #email="ngModel" [ngClass]="{ 'is-invalid': l.submitted && email.invalid }" required email>
              <div *ngIf="l.submitted && email.invalid" class="invalid-feedback">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">Email must be a valid email address</div>
              </div>
            </div>
          </div>

          <div class="row form-group">

            <div class="col-md-12">
              <label class="text-black">Subject</label>
              <input type="subject" name="subject" [(ngModel)]="userData.subject" required class="form-control" placeholder="Write your Email Subject"
                     #subject="ngModel" [ngClass]="{ 'is-invalid': l.submitted && subject.invalid }">
              <div *ngIf="l.submitted && subject.invalid" class="invalid-feedback">
                <div *ngIf="subject.errors.required">Subject is required</div>
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <label class="text-black">Message</label>
              <textarea name="message" [(ngModel)]="userData.message"  cols="30" rows="7" class="form-control"
                        placeholder="Write your notes or questions here..." required #message="ngModel" [ngClass]="{ 'is-invalid': l.submitted && message.invalid }"></textarea>
              <div *ngIf="l.submitted && message.invalid" class="invalid-feedback">
                <div *ngIf="message.errors.required">Message is required</div>
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <button type="submit" class="btn btn-custom btn-lg">Send Message
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
