<nav id="menu" class="navbar navbar-default navbar-fixed-top" style="background-color: #363636 !important;">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" style="width: fit-content;">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" style="margin-left: 20px;"
              data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span> <span
        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
      <a class="navbar-brand page-scroll" [routerLink]="['/home']" (click)="changeName('Home')" style="display: inline-flex;margin-top: -30px">
          <img style="height: 55px; border-radius: 50%;margin-right: 10px;" src="./../../../assets/img/logo.jpg">
        <div class="navbar-text">
          <span>Mann</span><br>Corporation <br>
          <span style="font-size: 10px">(since 1996)</span>
        </div>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a [routerLink]="['/about']" (click)="changeName('About')"
                                         class="page-scroll">About</a></li>
<!--        <li routerLinkActive="active"><a [routerLink]="['/service']" (click)="changeName('Service')"-->
<!--                                         class="page-scroll">Services</a>-->
<!--        </li>-->
        <li routerLinkActive="active"><a [routerLink]="['/portfolio']" (click)="changeName('Project')"
                                         class="page-scroll">Projects</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/HR']" (click)="changeName('Human Resource')"
                                         class="page-scroll">Human Resources</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/career']" (click)="changeName('Career')" class="page-scroll">Career</a>
        </li>
        <li routerLinkActive="active"><a [routerLink]="['/contact']" (click)="changeName('Contact')"
                                         class="page-scroll">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>
<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
<!--            <h1>Mann Corporation</h1>-->
            <div>
              <img style="height: 300px; border-radius: 50%;margin-right: 10px;" src="./../../../assets/img/logo.jpg">
            </div>
            <h3 class="btn btn-custom btn-lg page-scroll" style="cursor: unset">{{pageName}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
